@import 'mixin';
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
{
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
    color: #666;
    text-decoration: none;
    list-style: none;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.component_container {
    color: blue;
}

.box {
    @include hd();
    align-items: center
}

.header_box {
    height: 3rem;
    background-color: #3190e8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    span {
        color: white;
        font-weight: 700;
        padding: 1rem;
    }
}

.shop-padding {
    padding: 15px;
}