@import 'mixin';
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
{
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
    color: #666
}

.component_container {
    color: blue;
}

.box {
    @include hd();
    align-items: center
}

.header_box {
    height: 3rem;
    background: #3190e8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    span {
        color: white;
        font-weight: 700;
        padding: 1rem;
    }
}

.shop-padding {
    padding: 15px;
}