@import 'mixin';
.restaurant_top {
    margin-top: 5rem;
}

.sort_list {
    width: 100%;
    background-color: #fff;
    li {
        height: 3.5rem;
        line-height: 3.5rem;
        display: flex;
        span {
            display: inline-block;
            width: 13%;
            text-align: center;
        }
        p {
            width: 100%;
            border-bottom: .025rem solid #e4e4e4;
        }
    }
}

.filter_list {
    display: block;
    section {
        padding: 0.5rem;
        background-color: white;
        header {
            padding: 0.5rem;
            font-size: 0.7rem;
        }
        ul {
            padding: 0 0.5rem;
            display: flex;
            flex-wrap: wrap;
            li {
                border: .025rem solid #eee;
                height: 2rem;
                line-height: 2rem;
                width: 30%;
                text-align: center;
                font-size: 0.4rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.filter_list_footer {
    width: 100%;
    display: flex;
    align-content: space-between;
    .filter_list_clear {
        width: 50%;
        height: 2rem;
        background-color: #fff;
        border: .025rem solid #fff;
        margin-right: 0.5rem;
    }
    .filter_list_confirm {
        width: 50%;
        height: 2rem;
        background-color: #56d176;
        color: #fff;
        border: .025rem solid #56d176;
    }
}