@import 'mixin';
.food_shop_list {
    @include list-show(food_shop_list_animation 0.3s);
    display: flex;
    height: 21rem;
    overflow: hidden;
    background: #eeeaf3;
}

.food_shop_list_hide {
    @include list-show(food_shop_list_animation_hide 0.3s);
}

@keyframes food_shop_list_animation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        // transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        // top: 5rem;
    }
}

.shop_list_unit {
    .restaurant_style {
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.5rem
    }
}

@keyframes food_shop_list_animation_hide {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        // transform: translateY(50%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
}