@mixin hd($type:space-between) {
    display: flex;
    justify-content: $type;
}

@mixin zt($font:center, $size:0.55rem) {
    text-align: $font;
    font-size: $size;
}

@mixin list-show($animation) {
    position: fixed;
    top: 5rem;
    width: 100%;
    justify-content: space-between;
    // transition: all 3s;
    animation: $animation;
    .shop_list {
        flex: auto;
        background-color: #f1f1f1;
        max-height: 21rem;
        overflow: scroll;
        .shop_list_unit {
            display: flex;
            justify-content: space-between;
            padding: 0.7rem;
            font-size: 13px;
        }
    }
    .food_list {
        flex: auto;
        max-height: 21rem;
        overflow: scroll;
        .food_list_unit {
            display: flex;
            justify-content: space-between;
            padding: 0.7rem;
            font-size: 13px;
            border-bottom: 1px solid #c7bbbb;
        }
    }
}

// @mixin height_content($height) {
//     height: $height
// }
@mixin drop_content($height) {
    display: flex;
    height: $height;
    overflow: hidden;
    background: #eeeaf3;
    border-bottom: 1px solid #c7bbbb;
}